<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="60">
    <Properties>
        <Property name="log-path">logs</Property>
        <Property name="archive">${log-path}/archive</Property>
    </Properties>

    <Appenders>

        <Console name="Console-Appender" target="SYSTEM_OUT">
            <PatternLayout>
                <pattern>
                    [%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
                </pattern>>
            </PatternLayout>
        </Console>

        <File name="DataBaseHelper" fileName="${log-path}/DataBaseHelper.log">
            <PatternLayout>
                <pattern>
                    [%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
                </pattern>
            </PatternLayout>
        </File>

        <File name="BotHelper" fileName="${log-path}/BotHelper.log">
            <PatternLayout>
                <pattern>
                    [%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
                </pattern>
            </PatternLayout>
        </File>

        <File name="Geocoding" fileName="${log-path}/Geocoding.log">
            <PatternLayout>
                <pattern>
                    [%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
                </pattern>
            </PatternLayout>
        </File>

        <File name="PropCheck" fileName="${log-path}/PropCheck.log">
            <PatternLayout>
                <pattern>
                    [%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
                </pattern>
            </PatternLayout>
        </File>

        <File name="StringHelper" fileName="${log-path}/StringHelper.log">
            <PatternLayout>
                <pattern>
                    [%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
                </pattern>
            </PatternLayout>
        </File>

        <File name="UpdateCourses" fileName="${log-path}/UpdateCourses.log">
            <PatternLayout>
                <pattern>
                    [%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
                </pattern>
            </PatternLayout>
        </File>

        <File name="UpdateWorkTime" fileName="${log-path}/UpdateWorkTime.log">
            <PatternLayout>
                <pattern>
                    [%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
                </pattern>
            </PatternLayout>
        </File>

        <File name="WorkOfWeek" fileName="${log-path}/WorkOfWeek.log">
            <PatternLayout>
                <pattern>
                    [%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
                </pattern>
            </PatternLayout>
        </File>

        <File name="Department" fileName="${log-path}/Department.log">
            <PatternLayout>
                <pattern>
                    [%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
                </pattern>
            </PatternLayout>
        </File>

        <File name="KeyboardMarkUp" fileName="${log-path}/KeyboardMarkUp.log">
            <PatternLayout>
                <pattern>
                    [%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
                </pattern>
            </PatternLayout>
        </File>
    </Appenders>


    <Loggers>

        <Logger name="DataBaseHelper" level="info">
            <AppenderRef ref="DataBaseHelper"/>
        </Logger>

        <Logger name="BotHelper" level="info">
            <AppenderRef ref="BotHelper"/>
        </Logger>

        <Logger name="Geocoding" level="info">
            <AppenderRef ref="Geocoding"/>
        </Logger>

        <Logger name="PropCheck" level="info">
            <AppenderRef ref="PropCheck"/>
        </Logger>

        <Logger name="StringHelper" level="info">
            <AppenderRef ref="StringHelper"/>
        </Logger>

        <Logger name="UpdateCourses" level="info">
            <AppenderRef ref="UpdateCourses"/>
        </Logger>

        <Logger name="UpdateWorkTime" level="info">
            <AppenderRef ref="UpdateWorkTime"/>
        </Logger>

        <Logger name="WorkOfWeek" level="info">
            <AppenderRef ref="WorkOfWeek"/>
        </Logger>

        <Logger name="Department" level="info">
            <AppenderRef ref="Department"/>
        </Logger>

        <Logger name="KeyboardMarkUp" level="info">
            <AppenderRef ref="KeyboardMarkUp"/>
        </Logger>


        <Root level="debug">
            <AppenderRef ref="Console-Appender"/>
        </Root>
    </Loggers>
</Configuration>